<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.7b">
    <id>br.com.mineBR55.PedroMobs</id>
    <version>1.0</version>

    <info lang="pt-BR">
        <name>Pedro Mobs</name>
        <description>Ficha simples de monstros para DnD 5e</description>
        <author>mineBR55</author>
        <site>https://github.com/mineBR55/Teste</site>
        <contact>https://github.com/mineBR55/Teste</contact>
    </info>

    <settings>
        <!-- Automatic translation of strings inside LFM (optional) -->
        <automaticStringLocalization>false</automaticStringLocalization>
    </settings>
</module>
