<?xml version="1.0" encoding="UTF-8"?>
<plugin>

    <info>
        <name>Teste de Mob</name>
        <description>Ficha de Monstro</description>
        <author>mineBR55</author>
        <version>1.0</version>
    </info>

    <dataTypes>
        <dataType
            id="br.com.mineBR55.mob"
            name="Ficha de Mob"
            description="Ficha de Monstro DnD 5e"
            script="Mob.lua"
            isDefault="true"/>
    </dataTypes>

    <forms>
        <form
            id="frmMonster"
            dataType="br.com.mineBR55.mob"
            name="frmMonster"
            file="Mob.lfm"
            formType="sheetTemplate"
            title="Ficha de Mob"/>
    </forms>

</plugin>